.playground {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: nowrap;
	flex-flow: wrap;
	justify-content: inherit;
	background: rgba($white, .1);

	.card {
		position: relative;
		background: $black;
		box-sizing: border-box;
		box-shadow: 1px 0 0 0 $white,
			0 1px 0 0 $white,
			inset 0 1px 0 0 $white,
			inset 1px 0 0 0 $white;
		cursor: pointer;

		display: flex;
		justify-content: center;
		align-items: center;
		color: $white;
		text-shadow: 0 0 20px rgba(0, 0, 0, .5);
		font-size: 60px;
		z-index: 10;

		&:after {
			@include pseudo-element(1px, 1px, $white);
			bottom: -1px;
			right: -1px;
		}
	}

	.cards {
		display: flex;
		flex-wrap: nowrap;
		flex-flow: wrap;
		justify-content: inherit;
		width: 100%;
		height: 100%;
		background: #353838;
		//transition: height .2s 1s;

		@include tablet {
			box-shadow: 0 0 30px 0 rgba(0, 0, 0, .7);
			margin: 0 20px 20px;
		}

		&.tablet-menu-open {
			transition: all .5s .4s;
			height: 0;
		}
	}
}

.memory-game {
	&.playground-custom-page-base, &.playground-custom-page {
		.playground {
			.card {
				font-size: 14px;
				text-align: center;
				padding: 5px;
			}
		}
	}

	&.playground-custom-page {
		.playground {
			.card {
				width: calc(100% / 4);
				height: 250px;
			}
		}
	}
}