$beige-opacity: rgba(216, 216, 216, .52);
$black: #232828;
$white-opacity: rgba(234, 234, 234, .8);
$white: #EAEAEA;
$blue: rgba(0, 213, 255, .55);
$padding-lines: 0 12px;
$font-size-lines: 30px;
$font-size: 20px;

$max-width: 690px;
$max-height: 500px;