@import 'css/variables';
@import './css/mixins';
@import './css/keyframes';
@import './css/components/title-screen';
@import './css/components/level-selection';
@import './css/components/playground';
@import './css/components/creator';
@import './css/components/user-cards';
@import './css/components/alternative';
@import './css/components/menu';
@import './css/components/result';
@import url('https://fonts.googleapis.com/css?family=Roboto:700');


body {
	@include font;
	width: 100%;
	height: 100vh;
	background: $beige-opacity;
	margin: 0;
	padding: 70px;
	box-sizing: border-box;
	user-select: none;

	@include tablet {
		padding: 20px;

		&.playing {
			padding: 0;

			.memory-game {
				background: transparent;
				box-shadow: none;
			}
		}

		.memory-game {
			&.create {
				height: 95%;
			}
		}
	}
}

.memory-game {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: $black;
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, .7);
}

.memory-game.playground-custom-page, .memory-game.user-cards-page {
	height: auto;
	margin-bottom: 70px;

	@include tablet {
		margin-bottom: 0;
	}
}

.memory-game.user-cards-page {
	position: relative;
}

input, textarea, button, a {
	border: none;
	outline: none;
}

button {
	@include font;
	cursor: pointer;
	border-radius: 0;
	background: transparent;
}

ul {
	list-style-type: none;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}